<div class="credits-logged-out-backdrop">
	<div class="credits-logged-out-container">
		<p class="credits-logged-out-header">
			Icon Attributions
		</p>
		<p class="credits-logged-out-text">
			Some of the icons used in the making of this website were sourced from 3rd-party sources. They are as follows:
		</p>
		<p class="credits-logged-out-text">
			New list/to-do icon: <a href="https://www.flaticon.com/authors/pixel-perfect" rel='noreferrer' target='_blank'>Pixel Perfect</a>
		</p>
		<p class="credits-logged-out-text">
			Back arrow icon: <a href="https://www.flaticon.com/authors/wr-graphic-garage" rel='noreferrer' target='_blank'>WR Graphics Garage</a>
		</p>
		<p class="credits-logged-out-text">
			Burger menu icon: <a href="https://www.flaticon.com/authors/bizzbox" rel='noreferrer' target='_blank'>BizzBox</a>
		</p>
		<p class="credits-logged-out-text">
			Calendar icon: <a href="https://www.iconfinder.com/iconnice" rel='noreferrer' target='_blank'>iconnice studio</a>
		</p>
		<p class="credits-logged-out-text">
			Category icon: <a href="https://www.flaticon.com/authors/creatype" rel='noreferrer' target='_blank'>creatype</a>
		</p>
		<p class="credits-logged-out-text">
			Delete icon: <a href="https://www.flaticon.com/authors/pixel-perfect" rel='noreferrer' target='_blank'>Pixel Perfect</a>
		</p>
		<p class="credits-logged-out-text">
			Edit icon: <a href="https://www.flaticon.com/authors/kiranshastry" rel='noreferrer' target='_blank'>Kiranshastry</a>
		</p>
		<p class="credits-logged-out-text">
			Leather texture: <a href="https://architextures.org/" rel='noreferrer' target='_blank'>Architextures</a>
		</p>
		<p class="credits-logged-out-text">
			Logout icon: <a href="https://www.flaticon.com/authors/pixel-perfect" rel='noreferrer' target='_blank'>Pixel Perfect</a>
		</p>
		<p class="credits-logged-out-text">
			Oak desktop: <a href="https://architextures.org/" rel='noreferrer' target='_blank'>Architextures</a>
		</p>
		<p class="credits-logged-out-text">
			Settings icon: <a href="https://www.flaticon.com/authors/pixel-perfect" rel='noreferrer' target='_blank'>Pixel Perfect</a>
		</p>
		<p class="credits-logged-out-text">
			View icon: <a href="https://www.flaticon.com/authors/kiranshastry" rel='noreferrer' target='_blank'>Kiranshastry</a>
		</p>
		<p class="credits-logged-out-text-small">
			(Click anywhere to close)
		</p>
	</div>
</div>
