<div class="desktop-calculator-img desktop-item" id="calculator" style="translate: <%=user.desktopItems.calculator.xPosition%>px <%=user.desktopItems.calculator.yPosition%>px; rotate: <%=user.desktopItems.calculator.rotation%>deg;">
	<form class="desktop-calculator-display">
		<input class="desktop-calculator-display-input" type="text" readonly="true" value="0" disabled tabindex="-1">
	</form>
	<div class="desktop-calculator-keypad">
		<div class="calculator-row-1">
			<div class="desktop-calculator-power-switch-flipped"></div>
			<button class="calculator-button" id="powerSwitch1" tabindex="-1"></button>
			<button class="calculator-button" id="powerSwitch2" tabindex="-1"></button>
			<button class="calculator-button" id="memoryRecall" tabindex="-1"></button>
			<button class="calculator-button" id="memoryMinus" tabindex="-1"></button>
			<button class="calculator-button" id="memoryPlus" tabindex="-1"></button>
			<button class="calculator-button" id="gt" tabindex="-1"></button>
		</div>
		<div class="calculator-row-2">
			<button class="calculator-button" id="backspace" tabindex="-1"></button>
			<button class="calculator-button" id="seven" tabindex="-1"></button>
			<button class="calculator-button" id="eight" tabindex="-1"></button>
			<button class="calculator-button" id="nine" tabindex="-1"></button>
			<button class="calculator-button" id="percent" tabindex="-1"></button>
			<button class="calculator-button" id="mu" tabindex="-1"></button>
		</div>
		<div class="calculator-row-3">
			<button class="calculator-button" id="plusMinus" tabindex="-1"></button>
			<button class="calculator-button" id="four" tabindex="-1"></button>
			<button class="calculator-button" id="five" tabindex="-1"></button>
			<button class="calculator-button" id="six" tabindex="-1"></button>
			<button class="calculator-button" id="multiply" tabindex="-1"></button>
			<button class="calculator-button" id="divide" tabindex="-1"></button>
		</div>
		<div class="calculator-row-4">
			<button class="calculator-button" id="squareRoot" tabindex="-1"></button>
			<button class="calculator-button" id="one" tabindex="-1"></button>
			<button class="calculator-button" id="two" tabindex="-1"></button>
			<button class="calculator-button" id="three" tabindex="-1"></button>
			<button class="calculator-button" id="add1" tabindex="-1"></button>
			<button class="calculator-button" id="subtract" tabindex="-1"></button>
		</div>
		<div class="calculator-row-5">
			<button class="calculator-button" id="clear" tabindex="-1"></button>
			<button class="calculator-button" id="zero" tabindex="-1"></button>
			<button class="calculator-button" id="doubleZero" tabindex="-1"></button>
			<button class="calculator-button" id="point" tabindex="-1"></button>
			<button class="calculator-button" id="add2" tabindex="-1"></button>
			<button class="calculator-button" id="equals" tabindex="-1"></button>
		</div>
	</div>
</div>
