<div class="footer footer-logged-out">
	© 2024
	<a
		class="footer-link footer-logged-out-link"
		href="https://www.ZachSteinberg.com/"
		rel="noreferrer"
		target="_blank"
		>Zach Steinberg</a
	>
	|
	<a
		class="credits-logged-out-link"
		href=""
		>Icon attributions</a
	>
</div>
