<div class="footer">
	© 2024
	<a
		class="footer-link"
		href="https://www.ZachSteinberg.com/"
		rel="noreferrer"
		target="_blank"
		>Zach Steinberg</a
	>
	|
	<a class="credits-logged-in-link">Icon attributions</a>
</div>
