<div class='footer'>
	© 2024 <a class='footer-link' href='http://www.ZachSteinberg.com/ ' rel='noreferrer' target='_blank'>Zach Steinberg</a> | <a class='credits-logged-in-link' href=''>Icon attributions</a>
</div>
