<div class="navigation-small" inert>
	<button class="nav-link user-settings-button" type="button" name="userSettingsButton" tabindex="10">
		<div class="nav-link-icon-container">
		</div>
		<span>Settings</span>
	</button>
	<hr class="navigation-small-horizontal-rule">
	<button class="nav-link user-logout-button" type="button" name="userLogoutButton" tabindex="12">
		<div class="nav-link-icon-container">
		</div>
		<span>Logout</span>
	</button>
</div>
