<div class="user-button-container">
	<button class="user-button" tabindex="9">
		<img class="user-button-top" src="/images/burger-menu-animated-top-silver.png">
		<img class="user-button-middle" src="/images/burger-menu-animated-middle-silver.png">
		<img class="user-button-bottom" src="/images/burger-menu-animated-bottom-silver.png">
	</button>
</div>
