:root {
	--font-size-title: 3rem;
	--font-family: 'Courier New';
	--border: 1px solid black;
	--border-none: none;
	--border-radius: 0.5rem;
	--box-sizing: border-box;
	--box-shadow-large: 0 0 40px 1px grey;
	--box-shadow-small: 0 0 20px 0.25px grey;
	--background-color-lighter: white;
	--background-color-darker: #E7E1E1;
	--background-color-background: #93CCFB;
	--text-color: black;
	--placeholder-text-color: grey;
	--log-in-field-container-height: 4rem;
	--log-in-field-font-size: 3rem;
	--log-in-button-container-height: 4rem;
	--log-in-button-font-size: 3rem;
	--input-field-letter-spacing: -0.1rem;
	--input-field-word-spacing: -0.6rem;
}
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: var(--box-sizing);
	background-color: var(--background-color-darker);
	background-image: url('../images/leather-1969-in-architextures.jpg');
}
.login-container {
	height: min-content;
	width: 50%;
	margin-bottom: 1.5rem;
	padding: 4vh 2vw 2vh 2vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	background-color: transparent;
}
.login-title-bar {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 2rem 0;
}
.login-title-heading {
	text-align: center;
	font-size: 3.5rem;
	font-weight: bold;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	letter-spacing: var(--input-field-letter-spacing);
	font-family: var(--font-family);
	margin: 0;
}
.login-title-body {
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	letter-spacing: var(--input-field-letter-spacing);
	font-family: var(--font-family);
	margin: 0;
}
.login-form {
	height: min-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.login-user-email-container {
	height: var(--log-in-field-container-height);
	width: 90%;
	margin: 1vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: var(--border);
	border-radius: var(--border-radius);
}
.login-user-email-input {
	height: 100%;
	width: 100%;
	padding: 0 1rem;
	font-size: 3rem;
	letter-spacing: var(--input-field-letter-spacing);
	font-family: var(--font-family);
	text-align: center;
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--background-color-lighter);
}
.login-user-password-container {
	height: var(--log-in-field-container-height);
	width: 90%;
	margin: 1vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: var(--border-none);
	border-radius: var(--border-radius);
}
.login-user-password-input {
	height: 100%;
	width: 100%;
	padding: 0 1rem;
	font-size: 3rem;
	letter-spacing: var(--input-field-letter-spacing);
	font-family: var(--font-family);
	text-align: center;
	border: var(--border);
	border-radius: var(--border-radius);
	background-color: var(--background-color-lighter);
}
.login-submit-button-container {
	height: var(--log-in-button-container-height);
	width: 90%;
	margin: 1vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: var(--border);
	border-radius: var(--border-radius);
}
.login-submit-button-input {
	height: 100%;
	width: 100%;
	font-size: var(--log-in-button-font-size);
	letter-spacing: var(--input-field-letter-spacing);
	font-family: var(--font-family);
	font-weight: var(--font-weight-inputs);
	text-align: center;
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--background-color-lighter);
}
.login-horizontal-rule {
	color: white;
	width: 80%;
	border-top: 1px solid black;
	height: 0px;
}
.go-to-registration-container {
	height: var(--log-in-button-container-height);
	width: 90%;
	margin: 1vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: var(--border);
	border-radius: var(--border-radius);
}
.go-to-registration-button-input {
	height: 100%;
	width: 100%;
	font-size: 1.5rem;
	letter-spacing: var(--input-field-letter-spacing);
	font-family: var(--font-family);
	font-weight: var(--font-weight-inputs);
	text-align: center;
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--background-color-lighter);
}
.project-guest-credentials-container, .project-guest-credentials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: var(--font-family);
}

/* Media queries */

/* Portrait orientation */
@media (orientation: portrait) and (max-width: 900px){
	.login-container {
		width: 70%;
	}
}

@media (orientation: portrait) and (max-width: 700px){
	.login-container {
		width: 80%;
	}
}

@media (orientation: portrait) and (max-width: 550px){
	.login-container {
		width: 100%;
	}
	.go-to-registration-button-input {
		font-size: 1.2rem;
	}
}

@media (orientation: portrait) and (max-width: 450px) {
	.login-user-email-input {
		font-size: 2.25rem;
	}
	.login-user-password-input {
		font-size: 2.25rem;
	}
	.login-submit-button-input {
		font-size: 2.25rem;
	}
}

@media (orientation: portrait) and (max-width: 400px){
	.login-title-body {
		font-size: 2rem;
	}
	.login-user-email-input {
		font-size: 2rem;
	}
	.login-user-password-input {
		font-size: 2rem;
	}
	.login-submit-button-input {
		font-size: 2rem;
	}
	.go-to-registration-button-input {
		font-size: 1rem;
	}
}

@media (orientation: portrait) and (max-width: 300px){
	.login-title-heading {
		font-size: 2.75rem;
	}
	.login-title-body {
		font-size: 1.75rem;
	}
	.login-user-email-input {
		font-size: 1.5rem;
	}
	.login-user-password-input {
		font-size: 1.5rem;
	}
	.login-submit-button-input {
		font-size: 1.5rem;
	}
	.go-to-registration-button-input {
		font-size: 0.75rem;
	}
}

/* Landscape orientation */
@media (orientation: landscape) and (max-width: 900px){
	.login-user-email-input {
		font-size: 2rem;
	}
	.login-user-password-input {
		font-size: 2rem;
	}
	.login-submit-button-input {
		font-size: 2rem;
	}
	.go-to-registration-button-input {
		font-size: 1.25rem;
	}
}

@media (orientation: landscape) and (max-width: 600px){
	.login-user-email-input {
		font-size: 1.75rem;
	}
	.login-user-password-input {
		font-size: 1.75rem;
	}
	.login-submit-button-input {
		font-size: 1.75rem;
	}
	.go-to-registration-button-input {
		font-size: 1rem;
	}
}

@media (orientation: landscape) and (max-height: 600px) {
	.login-title-heading {
		font-size: 2.75rem;
	}
	.login-title-body {
		font-size: 1.75rem;
	}
	.login-user-email-input {
		font-size: 2.25rem;
	}
	.login-user-password-input {
		font-size: 2.25rem;
	}
	.login-submit-button-input {
		font-size: 2.25rem;
	}
	.go-to-registration-button-input {
		font-size: 1.25rem;
	}
}

@media (orientation: landscape) and ((max-height: 500px) or (max-width: 600px)){
	.login-title-bar {
		flex-direction: row;
		justify-content: center;
		width: 200%;
	}
	.login-title-heading {
		font-size: 2rem;
		margin: 0 0.5rem;
	}
	.login-title-body {
		font-size: 2rem;
		margin: 0 0.5rem;
	}
	.login-user-email-container {
		height: 3rem;
	}
	.login-user-email-input {
		font-size: 1.75rem;
	}
	.login-user-password-container {
		height: 3rem;
	}
	.login-user-password-input {
		font-size: 1.75rem;
	}
	.login-submit-button-container {
		height: 3rem;
	}
	.login-submit-button-input {
		font-size: 1.75rem;
	}
	.go-to-registration-container {
		height: 3rem;
	}
	.go-to-registration-button-input {
		font-size: 1rem;
	}
}

@media (orientation: landscape) and (max-height: 350px){
	.login-user-email-container {
		height: 2rem;
	}
	.login-user-password-container {
		height: 2rem;
	}
	.login-submit-button-container {
		height: 2rem;
	}
	.go-to-registration-container {
		height: 2rem;
	}
}
